- uses: tauri-apps/tauri-action@v0
  if: ${{ matrix.enabled }}
  env:
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
    TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}
  with:
    tagName: "PakePlus-v__VERSION__"
    releaseName: "PakePlus v__VERSION__"
